@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-green: #4BB42D;
    --color-green-dark: #008000;
}

.text-gradient {
    background: linear-gradient(to right, var(--color-green), var(--color-green-dark));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}  




  
  